.html{
    height: 1;
}
.navbar{
    padding-left: 20px;
    padding-right   : 20px;
    height: 80px;
}

.topIcon{
    height:34px ;
    width: 114px;
    margin-bottom: 0px;
    top: 1px
}

.gearIcon{
    height: 40px;
    width: 40px;
}